* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F6F9FF; /* Very light blueish */
    color: #525E68; /* Dark grayish */
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #525E68; /* Dark grayish */
    color: #FFFFFF; /* White */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (top) */
    height: 100vh; /* Full height */
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #F5F8FE; /* Light blueish for links */
    text-decoration: none;
    font-size: 16px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.btn-draft {
    padding: 10px 15px;
    background-color: #F5F8FE; /* Light blueish */
    color: #525E68; /* Dark grayish */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn-draft:hover {
    background-color: #E0E0E1; /* Light gray hover */
}

main {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Justera formuläret till vänster */
    justify-content: flex-start; /* Justera formuläret till toppen */
    background-color: #FFFFFF;
}


h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #525E68; /* Dark grayish */
}

form {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Max width for the form */
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Avstånd mellan fälten */
}

form > div > label {
    margin-bottom: 5px; /* Avstånd mellan label och input */
}


label {
    margin-bottom: 10px;
    display: block;
    color: #525E68; /* Dark grayish */
}

input[type="date"], input[type="number"], textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #E0E0E1; /* Light gray */
}

button {
    padding: 10px 15px;
    background-color: #525E68; /* Dark grayish */
    color: #FFFFFF; /* White */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #3D4853; /* Darker gray for hover */
}

p {
    margin-top: 20px;
    color: #525E68; /* Dark grayish */
}
